<aside class="flash row">
  <article flash-alert duration="0" active-class="alert" class="col-md-6 col-md-offset-3">
    {{flash.message}}
  </article>
</aside>

<form class="form-horizontal" role="form" class="edit-user">
  <div class="form-group" ng-class="{'has-warning has-feedback':errors.name}">

    <label for="name" class="col-md-2 control-label col-md-offset-2">Name</label>
    <div class="col-md-5">
      <input type="text" name="name" class="form-control" placeholder="e.g. Baked Alaska" ng-model="recipe.name">
    </div>
  </div>
  <div class="form-group" ng-class="{'has-warning has-feedback':errors.name}">
    <label for="instructions" class="col-md-2 control-label col-md-offset-2">
        Instructions
    </label>
    <div class="col-md-5">
      <textarea name="instructions" class="form-control" ng-model="recipe.instructions" placeholder="e.g. Flambé for 20 seconds">
      </textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-3">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
    <div class="col-md-4 text-right">
      <button class="btn btn-primary" ng-click="save()">Save</button>
    </div>
  </div>
</form>