<aside class="flash row">
  <article flash-alert duration="0" active-class="alert" class="col-md-6 col-md-offset-3 col-sm-12">
    {{flash.message}}
  </article>
</aside>

<section class="col-md-6 col-md-offset-3">
  <article class="panel panel-info">
    <header class="panel-heading"><h1>{{recipe.name}}</h1></header>
    <p class="panel-body">
      {{recipe.instructions}}
    </p>
  </article>

  <section>
    <div class="col-md-3">
      <button ng-click="back()" class="btn btn-default">
        &larr; Back
      </button>
    </div>
    <div class="col-md-9 text-right">
      <button ng-click="edit()" class="btn btn-info">Edit</button>
      <button ng-click="delete()" class="btn btn-danger">Delete</button>
    </div>
  </section>
</section>